doctype html
html
  head
    title= title
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scrollable=no' name='viewport')
    link(rel='stylesheet', href='s.css')
    script(type='text/javascript', src='s.js')
  body
    block content
